html {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
*, 
*::before,
*::after {
    box-sizing: inherit;
}

.container {
    width: 1400px;
    margin: auto;
    color: #222222;
    
    display: grid;
    grid-template-columns: 300px 1100px;
    grid-column-gap: 10px;
    grid-template-areas: "header header"
                        "nav nav"
                        "section section"
                        "aside main"
                        "article article"
                        "footer footer"
}

/* Header Section */
header {
    grid-area: header;
    width: 1400px;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-content: center;
    color: #222222;
    font-size: 12px;
    background: #ffffff;
    margin: 0px 25 1.5px;
    padding: 0px 36px;
}
     /* Header Block 1 - Etsy Logo */
#logo {
    width: 86px;
    height: 80px;
    color: #222222;
    font-size: 14px;
    padding-top: 12px;
}

    /* Header Block 2 - Search Section */
#search {
    display: flex;
    width: 820px;
    height: 80px;
    color: #222222;
    font-size: 14px;
    position: relative;
}

#inputsearch {
    width: 800px;
    height: 48px;
    padding: 9px 42px 9px 18px;
    position: relative;
    border-radius: 25px;
    font-size: 16px;
    background-color: #C2C2C2;
}

#cancel {
    display:flex;
    width: 36px;
    height: 36px;
    text-align: center;
    position: absolute;
    top: 7px;
    right: 170px;
}

#button-b {
    width: 61px;
    height: 48px;
    color: #222222;
    font-size: 16px;
    padding: 12px 21px 12px 15px;
}

#button-c {
    width: 42px;
    height: 32.2px;
    background: #222222;
}

    /* Header Block 3 - Right */
#right {
    display: flex;
    justify-content: space-between;
    align-content: center;
    width: 430px;
    height: 80px;
    color: #222222;
    font-size: 14px;
    list-style-type: none;
    margin: 0px;
}

    /* Sell on Etsy */
#sell-on-etsy-link {
    width: 95px;
    height: 80px;
    color: #222222;
    font-size: 14px;
}

#sell-on-etsy-link a:link {
    text-decoration: none;
}

#sell-on-etsy-link a:hover {
    text-decoration: underline;
}

#etsy-trigger {
    display: flex;
    align-content: center;
    height: 34px;
    color: #222222;
    font-size: 14px;
    margin: 23px 0px 0px;
    padding: 8px;
}

    /* Register */
#register-link {
    width: 80px;
    height: 80px;
    color: #222222;
    font-size: 14px;
}

#register-link a:link {
    text-decoration: none;
}

#register-link a:hover {
    text-decoration: underline;
}

#register-trigger {
    display: flex;
    align-content: center;
    height: 34px;
    color: #222222;
    font-size: 14px;
    margin: 23px 7px 0px 0px;
    padding: 8px;
}

    /* Sign in Button */
#sign-in-link {
    display:flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    color: #222222;
    font-size: 14px;
}

#sign-in-link a:link {
    text-decoration: none;
}

#sign-in-link a:hover {
    background-color: #222222;
    color: #FFFFFF;
}

#sign-in-trigger {
    width: 66px;
    height: 34px;
    color: #222222;
    font-size: 14px;
    padding: 8px;
    border-radius: 3px;
    background-color: white;
    text-align: center;
    border: 1px solid #222222;
}

    /* Cart */
#nav-link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 50px;
    height: 80px;
    color: #222222;
    font-size: 12px;
    padding: 0px 9px;
}

i.fas fa-shopping-cart::before {
    width: 32px;
    height: 32px;
    text-align: center;
    background-color: red;
}

/* End of Header section */

/* Start of 1st Navigation section */

nav {
    grid-area: nav;
    height: 34px;
    color: #222222;
    padding: 0px 18px;
}

ul#navalist {
    margin: 0px;
}

#navalist {
    display: flex;
    justify-content: space-between;  
    align-content: center;   
    background-color: #FFFFFF;
    font-size: 13px;
    list-style-type: none;
    padding: 0px 18px;
}

#navalist > li {
    height: 30px;
    margin: 4px 12px 0px 0px;
    padding: 0px 0px 12px;
}

/* End of 1st Navigation section */

/* Start of 2nd Navigation section */

section {
    grid-area: section;
    display: flex;
    height: 75px;
    color: #222222;
    padding: 3px 0px 3px 18px;
}

#navblist {
    display: flex;
    align-items: center;
    background-color: #FFFFFF;
    list-style-type: none;
    height: 75px;
    color: #222222;
    margin: 0px 0px -6px;
    padding: 0px 0px 0px 36px;
}

#navblist li {
    display: flex;
    align-content: center;
    margin: 0px 6px 0px 6px;
}

#navblist li a {
    height: 36px;
    background-color: #FAA077;
    border-radius: 25px;
    padding: 10px 15px;
    font-size: 13px;
}

/* End of 2nd Navigation section */

/* Start of Body section */
.body {
    display: grid;
    grid-template-columns: 1fr 4fr;
}
/* End of Body section */

/* Start of Aside (left) section */

/* From Video */
aside {
    grid-area: aside;
    background-color: yellow;
    width: 100%;
}

/* End of Aside (left) section */

/* Start of Body (right) section */
main {
    grid-area: main;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

    /* ----- Start of products.js styling ----- ***/
.product {
    display: grid;
    cursor: pointer;
    border: 1px solid #666;
}

.product p {
    margin: 0;
}

.product img {
    width: 100%;
    margin-bottom: 5px;
}

    /* title */
.product h3 {
    margin: 0px 0px 5px 0px;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 14px;
}

    /* shop name is 3 */
.product p:nth-child(3) {
    color: #595959;
    font-size: 12px;
    margin-bottom: 5px;
}

.product div {
    display: flex;
    color: #222222;
    font-size: 14px;
}

#rating {
    width: 72px;
    height: 14px;
    background: url(stars72.png);
    margin-bottom: 5px;
}

.rate {
    width: 72px;
    height: 14px;
    background: url(stars72.png);
    background-position: 0px -14px;
    display: block;
    width: 48%;
    margin-bottom: 5px;
}

    /* views is 2 */
.product p:nth-child(2) {
    font-size: 10px;
    margin-bottom: 5px;
}

.price {
    color: #222222;
    font-size: 16px;
    margin-bottom: 5px;
}
    
h4 {
    margin: 5px 0px 0px 0px;
    font-size: 12px;
}
    
    /* ----- End of products.js styling ----- ***/
    
/* End of Body (right) section */
    
/* Start of Subscribe section */
article {
    grid-area: article;
    background: lightblue;
    color: #222222;
    text-align: center;
    font-weight: bold;
    margin-top: 40px;
    text-decoration-style: wavy;
     margin-top: 40px;
}

form {
    display: flex;
    justify-content: center;
}

input:nth-child(1) {
    width: 225px;
    height: 48px;
    padding: 9px 12px 9px 18px;
    border-radius: 25px 0px 0px 25px;
    background-color: #FFFFFF;
}

input:nth-child(2) {
    width: 225px;
    height: 48px;
    color: #222222;
    padding: 12px 21px 12px 15px;
    border-radius: 0px 25px 25px 0px;
    font-size: 16px;
    text-align: right;
    background-color: #FFFFFF;
    margin-bottom: 40px;
    box-shadow: none;
    border: 1px solid gray;
}

/* End of Subscribe section */

/* Start of Footer section */
footer {
    grid-area: footer;
    background-color: pink;
    text-align: center;
}

/* End of footer section */