/* From Video */
html {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
/* From Video */
*, 
*::before,
*::after {
    box-sizing: inherit;
    /* margin: 0;
    padding: 0; */
}

/* From Video */
.container {
    width: 1200px;
    margin: auto;
    color: #222222;
    
/*    display: grid;
    grid-template-columns: 300px 1100px;
    gap: 10px;
    background-color: pink;
    grid-template-areas: "header header"
                        "nava nava"
                        "navb navb"
                        "aside main"
                        "subscribe subscribe"
                        "footer footer"
*/
}

/* From Video */
header {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-content: center;
    background-color: blue;
}

input {
    width: 287;
    height: 34;
}

.SellOnEtsy {
    font-size: 14px;
}

.Register {
    font-size: 14px;
}

.SignIn {
    width: 64.17;
    height: 34;
}

.Discover {
    width: 67.8;
    height: 80;
}

.cart {
width: 42.78;
height: 80;
}


/* From Video */
.body {
    display: grid;
    grid-template-columns: 1fr 4fr;
/*
    grid-area: header;
    display: grid;
    grid-template-columns: 100px 400px 100px 100px 100px 100px 100px;
    width: 100%;
*/
}

/*
form {
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(41, 62, 96);
    color: rgb(41, 62, 96);
    width: 500px;
    height: 40px;
}
*/

/*
.nava {
    background-color: red;
    grid-area: nava;
    display: grid;
    margin: auto;
    width: 100%;
    height: 50px;
}

.nava > ul {
    display: grid;
    list-style-type: none;
}

.nava > ul > li {
    display: grid;
    width: 100%;
    align-content: center;
    justify-content: space-around;
}

.navb {
    grid-area: navb;
    display: grid;
    justify-content: space-between;
    margin: auto;
    width: 100%;
    height: 50px;
}

ul {
    display:grid;
    grid-template-columns: repeat(9, 1fr);
    justify-content: space-between;
    align-content: center;
    font-size: 10px; 
}

.start li {
    list-style-type: none;  
    border-radius: 30px;
    border-color: tan;
}
*/

/* From Video */
aside {
    /* background-color: yellow; */
    width: 100%;
}

/* From Video */
main {
    /* background-color: purple; */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    /* grid-area: main;
    width: 100%;
    display: grid;
    grid-template-columns: repeat (4, 1 fr);
    */
}

.product {
    display: grid;
    cursor: pointer;
    border: 1px solid #666;
}

.product img {
    width: 100%;
}




/* From Video */
/* .product h2 { */
h3 {
    margin: 0;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 14px;
}

/* From Video */
.product p {
    margin: 0;
}


/* From Video */
.desc {
    display: flex;
    justify-content: space-between;
}

/*
.subscribe {
    background-color: rgb(255, 255, 255);
    color: rgb(31, 31, 31);
    grid-area: subscribe;
    text-align: center;
    width: 100%;
    height: 100px;
}

footer {
    background-color: rgb(41, 62, 96);
    color: rgb(255, 255, 255);
    grid-area: footer;
    width: 100%;
    height: 100px;
}
*/